# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
.history
# ignore vs code project config files
.vscode/settings.json
.vs
.DS_Store
# ignore logs
logs/
*.log
# ignore 3rd party lib
node_modules

# Ignore built files
build

# ignore test converage
coverage

logs

.env
